### Loc and iloc (location & indeks location)

Example of data where the implicit and explicit indices are the same

In [1]:
import pandas as pd
import numpy as np

In [2]:
data_2 = pd.Series([0.25, 0.50, 0.75, 1], index = [2,5,3,7])

In [3]:
data_2

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

When we access an index, the explicit index appears

In [4]:
data_2[2] # indeks eksplisit : selecting

0.25

In [5]:
data_2[2 : 3] # indeks implisit : slicing

3    0.75
dtype: float64

- When the explicit index and implicit index are the same, there will be inconsistencies like the case above.
- To solve the inconsistency situation, we will use loc and iloc rules.
- loc is to call the explicit index.
- iloc is to call the implicit index.

In [6]:
# Loc

data_2.loc[3] # selecting indeks eksplisit

0.75

In [7]:
data_2.loc[2 : 3] # slicing indeks implisit

2    0.25
5    0.50
3    0.75
dtype: float64

In [9]:
# iloc

data_2.iloc[3] # selecting indeks eksplisit

1.0

In [10]:
data_2.iloc[2 : 3] # slicing indeks implisit

3    0.75
dtype: float64

TASK 1 - Making series, explicit index must be same as python index, call loc & iloc

In [11]:
angka = pd.Series([1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5], index = [2, 3, 4, 5, 6, 7, 8, 9, 10])
angka

2     1.0
3     1.5
4     2.0
5     2.5
6     3.0
7     3.5
8     4.0
9     4.5
10    5.0
dtype: float64

In [12]:
# Loc

angka.loc[6] # selecting indeks eksplisit

3.0

In [15]:
angka.loc[3 : 6] # slicing indeks eksplisit

3    1.5
4    2.0
5    2.5
6    3.0
dtype: float64

In [16]:
# iloc

angka.iloc[6] # selecting indeks implisit

4.0

In [17]:
angka.iloc[3 : 6] # slicing indeks implisit

5    2.5
6    3.0
7    3.5
dtype: float64

Example of Dictionary converted to Series

In [26]:
dict_populasi = {'Jakarta' : 750,
                 'Bogor' : 490,
                 'Depok' : 350,
                 'Tanggerang' : 270,
                 'Bekasi' : 670}

#ini hanya permisalan, bukan angka populasi yang sesungguhnya

In [27]:
dict_populasi

{'Jakarta': 750, 'Bogor': 490, 'Depok': 350, 'Tanggerang': 270, 'Bekasi': 670}

In [28]:
# transformasi dictionary ke series

populasi = pd.Series(dict_populasi)
populasi

Jakarta       750
Bogor         490
Depok         350
Tanggerang    270
Bekasi        670
dtype: int64

In [29]:
populasi.loc['Depok']

350

In [30]:
populasi.iloc[2]

350

TASK 2 - Making series from dictionary, call loc & iloc

In [31]:
dict_buah = {'Alpukat' : 20,
             'Mangga' : 15,
             'Belimbing' : 30,
             'Jeruk' : 25,
             'Melon' : 35}

In [32]:
dict_buah

{'Alpukat': 20, 'Mangga': 15, 'Belimbing': 30, 'Jeruk': 25, 'Melon': 35}

In [33]:
# transformasi dictionary ke series

buah = pd.Series(dict_buah)
buah

Alpukat      20
Mangga       15
Belimbing    30
Jeruk        25
Melon        35
dtype: int64

In [34]:
buah.loc['Mangga']

15

In [35]:
buah.iloc[1]

15

In [36]:
dict_luas = {'Jakarta' : 737,
             'Bogor' : 325,
             'Depok' : 247,
             'Tanggerang' : 302,
             'Bekasi' : 355}

#ini hanya permisalan, bukan angka populasi yang sesungguhnya

In [37]:
luas = pd.Series(dict_luas)
luas

Jakarta       737
Bogor         325
Depok         247
Tanggerang    302
Bekasi        355
dtype: int64

### - Data Frame

Data Frame is a collection of series with at least one series.

In [38]:
daerah = pd.DataFrame({'pop' : populasi, 'luas daerah' : luas})
daerah

            pop  luas daerah
Jakarta     750          737
Bogor       490          325
Depok       350          247
Tanggerang  270          302
Bekasi      670          355

In [40]:
daerah['luas daerah']

Jakarta       737
Bogor         325
Depok         247
Tanggerang    302
Bekasi        355
Name: luas daerah, dtype: int64

In [39]:
daerah['luas daerah'] ['Jakarta']

737

When calling data with the syntax region.pop will appear as below. Because pop is the same as the function name in the data frame.

In [41]:
daerah.pop

<bound method DataFrame.pop of             pop  luas daerah
Jakarta     750          737
Bogor       490          325
Depok       350          247
Tanggerang  270          302
Bekasi      670          355>

Then it is safer to call the data with the syntax daerah["population"]

In [56]:
daerah['pop']

Jakarta       750
Bogor         490
Depok         350
Tanggerang    270
Bekasi        670
Name: pop, dtype: int64

We rename the pop column to population

In [57]:
daerah = pd.DataFrame({'populasi' : populasi, 'luas' : luas})
daerah

            populasi  luas
Jakarta          750   737
Bogor            490   325
Depok            350   247
Tanggerang       270   302
Bekasi           670   355

In [58]:
daerah['populasi']

Jakarta       750
Bogor         490
Depok         350
Tanggerang    270
Bekasi        670
Name: populasi, dtype: int64

In [59]:
daerah['populasi']['Jakarta' : 'Depok'] # indeks eksplisit

Jakarta    750
Bogor      490
Depok      350
Name: populasi, dtype: int64

In [60]:
daerah['populasi'].iloc[0 : 3] # indeks implisit

Jakarta    750
Bogor      490
Depok      350
Name: populasi, dtype: int64

TASK 3 - Making 3 series, convert into Data Frame form, call index

In [42]:
dict_buah = {'Alpukat' : 20,
             'Mangga' : 15,
             'Belimbing' : 30,
             'Jeruk' : 25,
             'Melon' : 35}

In [43]:
buah = pd.Series(dict_buah)
buah

Alpukat      20
Mangga       15
Belimbing    30
Jeruk        25
Melon        35
dtype: int64

In [44]:
harga_buah = {'Alpukat' : 15000,
             'Mangga' : 36000,
             'Belimbing' : 27000,
             'Jeruk' : 20000,
             'Melon' : 32000}

In [45]:
harga = pd.Series(harga_buah)
harga

Alpukat      15000
Mangga       36000
Belimbing    27000
Jeruk        20000
Melon        32000
dtype: int64

In [46]:
KG = {'Alpukat' : 3,
      'Mangga' : 5,
      'Belimbing' : 3,
      'Jeruk' : 1,
      'Melon' : 2}

In [47]:
satuan = pd.Series(KG)
satuan

Alpukat      3
Mangga       5
Belimbing    3
Jeruk        1
Melon        2
dtype: int64

In [53]:
oleh_oleh = pd.DataFrame({'isi' : buah, 'satuan (kg)' : KG, 'harga' : harga_buah})
oleh_oleh

           isi  satuan (kg)  harga
Alpukat     20            3  15000
Mangga      15            5  36000
Belimbing   30            3  27000
Jeruk       25            1  20000
Melon       35            2  32000

In [55]:
oleh_oleh['isi'] ['Jeruk']

25

TASK 4 - convert column name, call loc & iloc

In [61]:
# ganti nama kolom isi ke jumlah
oleh_oleh = pd.DataFrame({'jumlah' : buah, 'satuan (kg)' : KG, 'harga' : harga_buah})
oleh_oleh

           jumlah  satuan (kg)  harga
Alpukat        20            3  15000
Mangga         15            5  36000
Belimbing      30            3  27000
Jeruk          25            1  20000
Melon          35            2  32000

In [63]:
oleh_oleh['jumlah']['Mangga' : 'Melon'] # indeks eksplisit

Mangga       15
Belimbing    30
Jeruk        25
Melon        35
Name: jumlah, dtype: int64

In [64]:
oleh_oleh['jumlah'].iloc[1 : 5] # indeks implisit

Mangga       15
Belimbing    30
Jeruk        25
Melon        35
Name: jumlah, dtype: int64